* {
  transition: 0.3s ease;
}

body {
  display: flex;
  position: static;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(100deg, #555555, rgb(0, 0, 0));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0%;
  margin: 0;
  font-family: 'Press Start 2P';
}

.dataInputForm {
  display: flex;
  position: static;
  flex-direction: column;
  text-shadow: 2px 2px 4px rgb(255, 0, 0);
  border: 5px outset black;
  background-color: rgb(49, 49, 49);
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  visibility: hidden;
}

.addBookDiv {
  display: flex;
  position: relative;
  right: -35%;
  bottom: 350px;
  visibility: visible;
}

.fa-plus-circle {
  font-size: 6rem;
  color: rgb(255, 88, 88);
  text-shadow: 0px 2px 1px rgb(255, 255, 255);
}

.addBookButton {
  cursor: pointer;
}

button {
  appearance: none;
  outline: none;
  background: inherit;
  border: none;
  border-radius: 65px;
  margin: 0;
  padding: 0;
}

.textAndNumberInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

input[type=text],
input[type=number] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  text-align: center;
  border: 2px outset red;
  border-radius: 20px;
  background-color: rgb(65, 65, 65);
  color: white;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

.bookStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.submitButton {
  margin-top: 35px;
  padding: 5px;
  appearance: none;
  outline: none;
  text-align: center;
  border: 2px outset rgb(255, 153, 0);
  border-radius: 20px;
  background-color: rgb(65, 65, 65);
  color: white;
  cursor: pointer;
}

.bookShelf {
  position: static;
  display: grid;
  justify-content: center;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px 0px;
  bottom: 6.5%;
  text-shadow: 2px 2px 4px rgb(255, 0, 0);
  border: 5px outset black;
  background-color: rgb(49, 49, 49);
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
}

.bookOnShelf {
  border: 5px outset purple;
  min-width: 250px;
  margin: 0;
  font-size: 2rem;
}