* {
  transition: 0.3s ease;
  font-size: 1rem;
}

body {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(100deg, #555555, rgb(0, 0, 0));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.dataInputForm {
  display: flex;
  position: static;
  flex-direction: column;
  text-align: center;
  text-shadow: 2px 2px 4px rgb(255, 0, 0);
  border: 5px outset black;
  background-color: rgb(49, 49, 49);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  visibility: hidden;
  margin-left: 5vw;
}

.addBookDiv {
  display: flex;
  position: relative;
  right: -35%;
  bottom: 350px;
  visibility: visible;
}

.fa-plus-circle {
  font-size: 6rem;
  color: rgb(255, 88, 88);
  text-shadow: 0px 2px 1px rgb(255, 255, 255);
}

.addBookButton {
  cursor: pointer;
}

button {
  appearance: none;
  outline: none;
  background: inherit;
  border: none;
  border-radius: 65px;
  margin: 0;
  padding: 0;
}

.textAndNumberInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

input[type=text],
input[type=number] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  text-align: center;
  border: 2px outset red;
  border-radius: 20px;
  background-color: rgb(65, 65, 65);
  color: white;
}

input:required:invalid {
  border-color: #009ac0;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

.bookStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.submitButton {
  margin-top: 35px;
  padding: 5px;
  appearance: none;
  outline: none;
  text-align: center;
  border: 5px outset rgb(142, 142, 255);
  border-radius: 20px;
  color: black;
  cursor: pointer;
  text-shadow: 1px 2px 2px white;
  background-color: white;
}

.modifyButton {
  margin-top: 35px;
  margin-left: 10px;
  padding: 5px;
  appearance: none;
  outline: none;
  text-align: center;
  border: 2px outset rgb(195, 0, 255);
  border-radius: 20px;
  background-color: rgb(65, 65, 65);
  color: white;
  cursor: pointer;
}

.bookShelfMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-bottom: 5px dotted gray;
  font-weight: 1000;
  transition: 0.5s ease;
}

.bookShelf {
  display: grid;
  justify-content: start;
  align-items: stretch;
  align-self: center;  
  align-content: stretch;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px 0px;
  max-height: 70vh;
  overflow: scroll;
  margin-bottom: 6.5%;
  text-shadow: 2px 2px 4px rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  margin-left: 5vw;
}

.bookOnShelf {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0;
  font-size: 0.75rem;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9 {
  margin-left: 5px;
  border-left: 5px dotted gray;
  padding: 5px;
  max-width: 120px;
  text-align: center;
  word-wrap: break-word;
}

.p1,
.p2,
.p3,
.p4,
.p5,
.p6,
.p7,
.p8,
.p9 {

}

.bookButtons0,
.bookButtons1 {
  color: black;
  font-size: 1.5rem;
  background-color: pink;
  border: 5px outset rgb(142, 142, 255);
  margin-left: 5px;
  padding: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  text-shadow: 1px 2px 2px white;
  box-shadow: 0px 0px 10px 5px red;

}